# OpenSSH server for sftp-autosync local sandbox (matches work FileZilla + scp/ssh usage).

Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

Subsystem sftp internal-sftp

X11Forwarding no
PrintMotd no

AllowUsers deploy
